
	
	<nav class="navbar navbar-custom navbar-right" role="navigation">
		<div class="container menu_header">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse navbar-right" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right pull-right">
					<li class="active widthStyle"><a href="#about-me">About Me</a></li>
					<li class="widthStyle"><a href="#Experenice" {% if page.url == "#Experenice" %} class ="active" {% endif %} >Experience</a></li>
					<li class="widthStyle"><a href="#work">Projects</a></li>
					<li class="widthStyle"><a href="#publication">Publication</a></li>
					<li class="widthStyle"><a href="#Details">Contact Me</a></li>
					<li class="widthStyle"><a href="/assets/pdf/Anuparna_Banerjee.pdf">Resumé</a></li>
					<li class="widthStyle"><a href="https://www.linkedin.com/in/anuparna-banerjee">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</nav>
	

	
<br/>
<br/>




<section>
	<h2 id="about-me" class="about_me">About Myself</h2>
	<hr class="bar"/>
	<div class="about-lock">
		<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="face-img"></div>
				</div>
				<div class="back">
					<div class="face1-img"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="blurb">
		<p>
			I am an experienced Java (J2EE) Software Developer. <br/>
			My experience in software development encompasses a broad range 
			of financial domains like middle-office position management (Capital Markets – Derivatives), 
			Income taxation frameworks and Loan originating software systems. Recently, I got an opportunity to work in Oil Industry which exposed a whole new realm of information resources and management. <br /><br />
			I have an undergraduate degree in Computer Engineering.
			The course-work included various aspects of programming, database management and networking fundamentals. During my work, I realized the importance of data – its management, storage, quick access, deciphering the underlying patterns; these nuances of data (information) are relevant and important for an effective Software development.
			<br /><br />
			I am currently pursuing my Master’s degree in Information Science with the focus on Data Science. My coursework (Information Retrieval, Bayesian Statistics, and Machine Learning) has provided me an insight into the realm of Data Science.  

			<br /><br />
			I am looking for full-time opportunities starting from Jan 2018 in the field of Software development/ Data Science. Please contact me at 
			<br />
		</p>
	</div>
	<div class="contact-lock">
		<div class="phone"></div><p>+1 (512) 665 - 7946</p>
		<div class="mail"></div><p><a href="mailto:anuparna.banerjee@yahoo.com?Subject=Mail%20from%20Website" target="_top">anuparna.banerjee@yahoo.com</a></p>
		<a href="/assets/pdf/Anuparna_Banerjee.pdf"><div class="pdf"></div><p>Resumé<br/>Download the PDF vesion of my Resume</p></a>
	</div>
	<br/>
	
	<div class="skill-lock"></div>
</section>