<section class="section-contact">
	<h2 id="Details">Contact Details</h2>
	<hr class="bar"/>
	<div class="social-links">
		<a href="https://www.facebook.com/anuparna.banerjee">	
			<div class="glyph-icon flaticon-facebook3"></div>
		</a>
		<a href="https://www.linkedin.com/in/anuparna-banerjee">
			<div class="glyph-icon flaticon-linkedin"></div>
		</a>
		<a href="https://github.com/anuparna">
			<div class="glyph-icon icon-github-alt"></div>
		</a>
		<a href="https://stackoverflow.com/users/3228726/anuparna">
			<div class="glyph-icon icon-stack-overflow"></div>
		</a>
	</div>		
	<hr class="bar"/>
	<div class="blurb">
	<p>
	Contact me at 
	<a href="mailto:anuparna.banerjee@yahoo.com?Subject=Mail%20from%20Website" 
	target="_top" 
	class="anchorTagNormal">anuparna.banerjee@yahoo.com</a> to know more about me or use the contact form below.</p>
	<br/>
	</div>
</section>