<div id="container1" class="arrow"></div>
<div id="container" class="logo"></div>
<header id="home">	asdsad
	<nav class="navbar navbar-custom navbar-right bg-faded" role="navigation">
		<div class="container  menu_header">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav">
					<li class="active"><a href="#about-me"><b>changes About Me</b></a></li>
					<li><a href="#Experenice"><b>Experience</b></a></li>
					<li><a href="#work"><b>Projects</b></a></li>
					<li><a href="#Details"><b>Contact Me</b></a></li>
				</ul>
			</div>
			</div>
		</div>
	</nav>
	

	<h3><span>Anuparna Banerjee</span></h3>	
	<p class="kicker">Software Engineer / Full Stack Developer / Data Science Novice</p>	
</header>