<div id="container1" class="arrow"></div>
<div id="container" class="logo"></div>
<header id="home">
	<div class="fixedNav">
	<nav class="navbar navbar-custom navbar-right" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right pull-right">
					<li class="active"><a href="#about-me">About Me</a></li>
					<li><a href="#Experenice">Experience</a></li>
					<li><a href="#Blog">Projects</a></li>
					<li><a href="#Details">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</div>

	<h3><span>Anuparna Banerjee</span></h3>	
	<p class="kicker">Software Engineer / Full Stack Developer / Data Science Novice</p>	
</header>