<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Developer Story</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/college.svg" alt="Masters Degree"/>
			</div>
			<div class="cd-timeline-content">
				<h2 class="story-heading">University of Texas At Austin</h2>
				<h2>M.S. Information Studies</h2>
				<P>Focus on Data Science.</p>
				<p>Relevant Courses:
					<span class="post-course">Concepts of Information Retrieval</span>
					<span class="post-course">Bayesian Statistics</span>
					<span class="post-course">Convex Optimization</span>
					<span class="post-course">Data Wrangling</span>
					<span class="post-course">Statistical Learning</span>
					<span class="post-course">Machine Learning</span>
				</p>
				<p>Skills:
					<span class="post-tag">Python</span>
					<span class="post-tag">R</span>
					<span class="post-tag">Machine Learning</span>
					<span class="post-tag">Keras</span>
					<span class="post-tag">SQL</span>
					<span class="cd-date">Jan 2016 - Dec 2017 (Expected)</span>
				</p>
			</div>
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/svg-icon/work.png" alt="Summer Internship"/>
			</div>
			<div class="cd-timeline-content">
				<h2>ExxonMobil Upstream Research Company</h2>
				<h2><i>Summer Research Intern</i></h2>
				<P>☛ Text analysis of patents and literature (journal articles) using mining tools and Python scripts.</P>
				<p>☛ Geo-tagging internal reports using SQL Views, Python scripts and in-house developed software packages.</p>
				<p>Skills:
					<span class="post-tag">Python</span>
					<span class="post-tag">NLTK</span>
					<span class="post-tag">Natural Language Processing</span>
					<span class="post-tag">Tableau</span>
				</p>
				<span class="cd-date">June 2017 - Aug 2017</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/work.png" alt="Graduate Assistant"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>University of Texas at Austin</h2>
				<h2><i>Graduate Assistant</i></h2>
				<p>☛ Analysis of NSF grants under the guidance of Dr. James Howison - from Feb 2017 to April 2017.</p>
				<p>☛ Development of an internal portal for educational purposes at Charles A. Dana Center - from Sept 2016 to Jan 2017.</p>
				<p>Skills:
					<span class="post-tag">Content Management System</span>
					<span class="post-tag">Statamic CMS</span>
					<span class="post-tag">Git</span>
				</p>
				<span class="cd-date">Sept 2016 - April 2017</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/work.png" alt="Senior Software Engineer"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>BNP Paribas India Solutions Pvt. Ltd.</h2>
				<h2><i>Senior Software Engineer</i></h2>
				<p>
				☛ Designed and developed the Lending and Borrowing module representing the booking of Interest Rate Swaps.
				</p>
				<p>
				☛ Developed SQL scripts, views, user-defined functions involving multiple tables and Exception Handlers.
				</p>
				<p>
				☛ Implemented a technical solution for complete automation of trade related processes for listed securities using Spring MVC, Hibernate ORM, Java Messaging Services (JMS) queues integrated within WebLogic application server.
				</p>
				<p>
				☛ Hands-on experience in using Eclipse, Log4j, JUnit, TestNG for building, logging, testing and Visual Source Safe, CVS and Git for version control.
				</p>
				<p>Skills:
					<span class="post-tag">Java</span>
					<span class="post-tag">Hibernate</span>
					<span class="post-tag">Oracle SQL</span>
					<span class="post-tag">Spring 3.5</span>
					<span class="post-tag">Eclipse RCP</span>
					<span class="post-tag">Java Servlets</span>
					<span class="post-tag">JMS Queues</span>
					<span class="post-tag">Maven</span>
					<span class="post-tag">Jenkins</span>
				</p>
				<span class="cd-date">Dec 2013 - Dec 2015</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/work.png" alt="Systems Engineer"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Tata Consultancy Services</h2>
				<h2><i>Systems Engineer</i></h2>
				<p>
				☛ Developed the Taxpayer Returns Module to enable end-users to file Returns for the Income Tax Departments of some African nations.
				</p>
				<p>
				☛ Utilized open source and Web 2.0 tools including Spring Framework, Hibernate, AJAX, JSP, Javascript.</p>
				<p>
				☛ Implemented the MVC Architectural Pattern using Struts 1.1 Framework including JSP, Form Bean and Action classes, Struts Validation Framework.</p>
				
				<p>Skills:
					<span class="post-tag">Java</span>
					<span class="post-tag">Hibernate</span>
					<span class="post-tag">Oracle SQL</span>
					<span class="post-tag">Spring 3.5</span>
					<span class="post-tag">JSP</span>
					<span class="post-tag">JavaScript</span>
					<span class="post-tag">EJB</span>
					<span class="post-tag">Oracle BC4J</span>
					<span class="post-tag">Ajax</span>
				</p>

				<span class="cd-date">Dec 2009 - Dec 2013</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->			
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/college.svg" alt="Bachelors Degree"/>
			</div>
			<div class="cd-timeline-content">
				<h2 class="story-heading">Gujarat University, India</h2>
				<h2>B.E. Computer Engineering</h2>
				<p>
				☛ Received Runner-Up Award in the Programming event organized by Computer Society of India – Region III (Ahmedabad Chapter) Students’ Convention. 
				</p>
				<p>
				☛ Completed training and assessment on Microsoft .NET under the College to Career Program batch of Aug 2007 – Nov 2007, organized by Gujarat Informatics Limited(GIL), India with an academic alliance with Microsoft Corporation India Ltd.
				</p>
				<p>
				☛ Completed the Cisco CCNA Exploration curriculum from July 2008 to Jan 2009.
				</p>
				<p>Relevant Courses:
					<span class="post-course">Data Structures and Algorithms</span>
					<span class="post-course">Data Communication and Networking</span>
					<span class="post-course">Database Management System</span>
					<span class="post-course">Compilers and System Programming</span>
					<span class="post-course">Parallel Computing</span>
					<span class="post-course">Client Server Architecture</span>
				</p>
				<p>Skills:
					<span class="post-tag">C</span>
					<span class="post-tag">C++</span>
					<span class="post-tag">Java</span>
					<span class="post-tag">ASP</span>
					<span class="post-tag">VB</span>
					<span class="cd-date">Sept 2005 - July 2009</span>
				</p>
			</div>			
		</div>
		<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location"/>
				</div>
		</div><!-- cd-timeline-->
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>