<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Developer Story</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/college.svg" alt="Masters Degree"/>
			</div>
			<div class="cd-timeline-content">
				<h2 class="story-heading">University of Texas At Austin</h2>
				<h2>M.S. Information Studies</h2>
				<P>Focus on Data Science.</p>
				<p>Relevant Courses:
					<span class="post-course">Concepts of Information Retrieval</span>
					<span class="post-course">Bayesian Statistics</span>
					<span class="post-course">Convex Optimization</span>
					<span class="post-course">Data Wrangling</span>
					<span class="post-course">Statistical Learning</span>
					<span class="post-course">Machine Learning</span>
				</p>
				<p>Skills:
					<span class="post-tag">Python</span>
					<span class="post-tag">R</span>
					<span class="post-tag">Machine Learning</span>
					<span class="post-tag">Keras</span>
					<span class="post-tag">SQL</span>
					<span class="cd-date">Jan 2016 - Dec 2017 (Expected)</span>
				</p>
			</div>
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/svg-icon/work.png" alt="Summer Internship"/>
			</div>
			<div class="cd-timeline-content">
				<h2>ExxonMobil Upstream Research Company</h2>
				<h2><i>Summer Research Intern</i></h2>
				<P>☛ Text analysis of patents and literature (journal articles) using mining tools and Python scripts.</P>
				<p>☛ Geo-tagging internal reports using SQL Views, Python scripts and in-house developed software packages.</p>
				<p>Skills:
					<span class="post-tag">Python</span>
					<span class="post-tag">NLTK</span>
					<span class="post-tag">Natural Language Processing</span>
					<span class="post-tag">Tableau</span>
				</p>
				<span class="cd-date">June 2017 - Aug 2017</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/work.png" alt="Graduate Assistant"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>University of Texas at Austin</h2>
				<h2><i>Graduate Assistant</i></h2>
				<p>☛ Analysis of NSF grants under the guidance of Dr. James Howison - from Feb 2017 to April 2017.</p>
				<p>☛ Development of an internal portal for educational purposes at Charles A. Dana Center - from Sept 2016 to Jan 2017.</p>
				<p>Skills:
					<span class="post-tag">Content Management System</span>
					<span class="post-tag">Statamic CMS</span>
					<span class="post-tag">Git</span>
				</p>
				<span class="cd-date">Sept 2016 - April 2017</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/svg-icon/work.png" alt="Senior Software Engineer"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>BNP Paribas India Solutions Pvt. Ltd.</h2>
				<h2><i>Senior Software Engineer</i></h2>
				<p>
				☛ Designed and developed the Lending and Borrowing module representing the booking of Interest Rate Swaps.
				</p>
				<p>
				☛ Developed SQL scripts, views, user-defined functions involving multiple tables and Exception Handlers.
				</p>
				<p>
				☛ Implemented a technical solution for complete automation of trade related processes for listed securities using Spring MVC, Hibernate ORM, Java Messaging Services (JMS) queues integrated within WebLogic application server.
				</p>
				<p>
				☛ Hands-on experience in using Eclipse, Log4j, JUnit, TestNG for building, logging, testing and Visual Source Safe, CVS and Git for version control.
				</p>
				<p>Skills:
					<span class="post-tag">Java</span>
					<span class="post-tag">Hibernate</span>
					<span class="post-tag">Oracle SQL</span>
					<span class="post-tag">Spring 3.5</span>
					<span class="post-tag">Eclipse RCP</span>
					<span class="post-tag">Java Servlets</span>
					<span class="post-tag">JMS Queues</span>
					<span class="post-tag">Maven</span>
					<span class="post-tag">Jenkins</span>
				</p>
				<span class="cd-date">Dec 2013 - Dec 2015</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/hosting.svg" alt="Location"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Integration Engineer with Example</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Integer eget libero vel turpis eleifend convallis vel vitae est. 
				Suspendisse mattis ut nulla dapibus ultricies. 
				Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. 
				Morbi gravida, libero sit amet lacinia tristique.</p>
				<span class="cd-date">May 2015 - Current</span>
			</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location"/>
				</div>
			</div><!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>