<section class="alt-section">
	<h2 id="work">Projects</h2>
	<hr class="bar"/>
	<div class="thumb-container">
		<a href="https://anuparna.github.io/VQACrowdSourcing/" class="VQA" target="_blank">
			<div class="thumb-overlay">
				<strong>Crowdsourcing Visual Question Answering</strong>
				<div class="zoom-icon">
					Analysis of disagreements among crowdworkers in Visual Question Answering.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		<a href="https://anuparna.github.io/deep-textual-entailment/" class="Text_entailment">
			<div class="thumb-overlay">
				<strong>Textual Entailment using Deep Learning</strong>
				<div class="zoom-icon">
					Analysis of Textual entailment using <i>Deep Learning</i> methodologies.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		<a href="https://anuparna.github.io/Parallel-Stochastic-Gradient-Descent/" class="PSGD">
			<div class="thumb-overlay">
				<strong>Parallelized Stochastic Gradient Descent</strong>
				<div class="zoom-icon">
					Investigation of development of Parallelized Stochastic Gradient Descent using <i>Java Executor Framework</i>.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		<a href=" https://anuparna.github.io/Data-Visualization-Using-Pandas-and-Matplotlib/" class="Vis">
			<div class="thumb-overlay">
				<strong>Data Visualization - Role of Females towards Economic Development</strong>
				<div class="zoom-icon">
					A comprehensive take on Data Visualization using <i>Python</i> and <i>Matplotlib</i> and <i>MySQL database</i>.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		
	</div>
</section>