<section class="alt-section">
	<h2 id="work">Projects</h2>
	<hr class="bar"/>
	<div class="thumb-container">
		<a href="https://anuparna.github.io/VQACrowdSourcing/" class="VQA" target="_blank">
			<div class="thumb-overlay">
				<strong>Crowdsourcing Visual Question Answering</strong>
				<div class="zoom-icon">
					Analysis of disagreements among crowdworkers in Visual Question Answering.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		<a href="https://anuparna.github.io/deep-textual-entailment/" class="Text_entailment">
			<div class="thumb-overlay">
				<strong>Textual Entailment using Deep Learning</strong>
				<div class="zoom-icon">
					Analysis of Textual entailment using <i>Deep Learning</i> methodologies.<br/><br/>
					<u>Click to learn more.</u>
				</div>
			</div>
		</a>
		<a href="" class="thumb-unit">
			<div class="thumb-overlay">
				<strong> Typo</strong>
				<div class="zoom-icon"></div>
			</div>
		</a>
		<a href="" class="thumb-unit">
			<div class="thumb-overlay">
				<strong> Typo</strong>
				<div class="zoom-icon"></div>
			</div>
		</a>
		
	</div>
</section>