<section>
	<h2 id="publication">Peer-Reviewed Workshop Publication</h2>
	<hr class="bar"/>
	
	<div class="blurb">
		<p>
			<b>A. Banerjee</b>, S. Ojha, D. Gurari. <br/>
			"Let’s Agree to Disagree: A Meta-Analysis of disagreement among crowdworkers during Visual Question Answering." <br/>
			<i>AAAI HCOMP Workshop on Human Computation for Image and Video Analysis (GroupSight)</i>, <br/>
			4 pages, 2017 (Paper Accepted). <br/><br/>
			
			Learn more about the conference here: <a class="anchorTagNormal" href="http://www.humancomputation.com/2017/">HCOMP 2017</a>
		</p>
	</div>
	
	<br/>
	
</section>